* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: canada-type-gibson, sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff;
    color: #181B27;
}


h1 {
    color: #1a202c;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: start;
    font-family: canada-type-gibson, sans-serif;
}


h2 {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-style: normal;
    font-weight: 600;
}


h3 {
    color: #181B27;
}


h4 {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}

p {
   color: #181B27;
}


.container {
    margin: auto;
    width: 500px;
    padding: 6rem 2rem;
    overflow: auto;
}


#my-form {
    padding: 2rem;
    background: #829fa3;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px #CEE4F2;
}


#my-form label {
    display: block;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    color: #1a202c;
    padding: 10px 0;
}


#my-form input {
    width: 100%;
    padding: 6px;
    font-size: 24px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #829fa3;
}


#login-form {
    padding: 2rem;
    background: #829fa3;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px #CEE4F2;
}


#login-form label {
    display: block;
    font-size: 24px;
    color: #1a202c;
    font-weight: 500;
    padding: 10px 0;
}


#login-form input {
    width: 100%;
    padding: 8px;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #829fa3;
}


.btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    font-size: larger;
    background-image: linear-gradient(#A1CBD5, #384446);
    color: #fff;
    border-radius: 10px;
    margin: 20px 0;
    text-decoration: none;
    text-align: center;
}


.btn:hover {
    cursor: pointer;
   /* text-shadow: 1px 3px 5px rgba(255, 255, 255, 0.509); */
    background-image: linear-gradient(#BFA18F, #605148);
}


.smallbtn{
    display: inline-block;
    width: 28%;
    padding: 10px 15px;
    border: 0;
    font-size: larger;
    background-image: linear-gradient(#A1CBD5, #384446);
    color: #fff;
    border-radius: 10px;
    margin: 20px 0;
    text-decoration: none;
    text-align: center;
}
.smallbtn:hover {
    cursor: pointer;
    /* text-shadow: 1px 3px 5px rgba(255, 255, 255, 0.509); */
    background-image: linear-gradient(#BFA18F, #605148);
}

#myMenu {
    background-color: #454F63;
}



/* HAIK COLOR PLALETTE
Label
font-family: canada-type-gibson, sans-serif;
font-style: normal;
font-weight: 400;

font-family: canada-type-gibson, sans-serif;
font-style: normal;
font-weight: 600;

Lyseste fargenyanser
Lyseste grå: #BBBCCD
Lysteste babyblå: #CEE4F2
Lys beige: #d9c3a9

Lyse fargetoner
Lys blå/grå:  #7b95a6
#829fa3
Grå beige (buttons mm): #bfa18f
Varmere beigebrun: #d9c3a9

Mellomfarger
Grå/ tyrkis bakgrunnsfarge forms: #587e8c
grå/ blå mellomfarge (buttons/Forms) : #4d748c
varm brun : #bf826b
Grå : #707070
Lys grønn/grå:  #70878C

Mørke blåtoner
Mørk Gråblå (kan brukes på bakgrunn): #454F63
Navy: #2a2e43
Mørkeste blå (Header og overskrifter) : #1a202c
( Mørkblåsort: #181B27 )

Linear Gradient
Varm beige: #2A2E43, #08090D
Gråbeige: #BFA18F, #605148
Grå Tyrkis: #A1CBD5, #384446
Blå/Navy: #3A3F5C, #08090D
Mørkblå: #BFA18F, #A26F5C
*/
