<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking accepted </title>
</head>
<body>
<h1> Du har fått Haik!</h1>

<!--<div th:object="${user_ride}">-->
<!--    <div th:object="${user}>-->
<!--        <h3> Din Haik er bekreftet!</h3>-->
<!--        <P th:field="*{Isdriver}"> gir deg Haik fra </P>-->
<!--        <p th:field="*{startlocation}"> til </p>-->
<!--        <p th:field="*{destination}"></p>-->
<!--    </div>-->
<!--</div>-->


</body>
</html>