<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">


    <title>Menu</title>
</head>
<body>
    <div class="container" id="myMenu">
        <div th:object="${user}">
            <h1>VELKOMMEN</h1>
            <h1 th:text="*{firstName}"></h1>
        </div>
        <a href="/createride" class="btn">Opprett ny kjøretur</a>
        <a href="/rides" class="btn">Se tilgjengelige turer</a>
        <a href="/myrides" class="btn">Vis mine turer</a>
        <a href="/logout" class="btn"> logg ut </a>
    </div>
</body>
</html>