<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Bekreft || Ha!k</title>
</head>
    <div class="header">
        <header>
            <h1>Ha!k</h1>
        </header>
    </div>
<body class="haik-image5">
<div class="container">
    <h2>Bekreft tur med <span th:text="${confirmride.driver.firstName}"></span></h2>

    <div>
        <p>
            <span>Oppmøte: </span><span th:text="${confirmride.startlocation}"></span>
        </p>
        <p>
            <span>Den: </span><span th:text="${confirmride.startDate}"></span>
        </p>
        <p>
            <span>Klokken: </span><span th:text="${confirmride.starttime}"></span>
        </p>
        <p>
            <span>Til: </span><span th:text="${confirmride.destination}"></span>
        </p>
        <p>
            <span>Andre opplysninger: </span><span th:text="${confirmride.comments}"></span>
        </p>
    </div>

    <div>
        <form id="saveUserToRide" th:action="@{/saveUserToRide}" method="POST">
            <input type="hidden" name="rideId" th:value="${confirmride.ride_id}">
        <input type="submit" value="Bekreft tur" class="btn">
        </form>
        <a href="/rides" class="btn">Avbryt</a>
    </div>


</div>


</body>
</html>