<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <title>Haik || Login</title>
</head>
<body>
<div>
    <h1>Haik</h1>
</div>
<div class="container">
    <form th:action="@{/login}" id="login-form" method="post">
        <h2>Logg inn</h2>
        <div class="name_input">
            <div><label>Brukernavn: <input type="email" name="email" placeholder="epost"/> </label></div>
            <div><label>Passord: <input type="password" name="password" placeholder="*****"/> </label></div>
        </div>
        <div><input type="button" value="Logg inn" class="btn" id="login-btn"/></div>
    </form>
</div>
<!--  <div th:if="${param.error}">
      Ugyldig brukernavn og/eller passord.
  </div>
  <div th:if="${param.logout}">
      You have been logged out.
  </div>
  -->
</body>
</html>