<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>MyRides || Haik</title>
</head>

<div class="header">
    <header>
        <h1>Ha!k</h1>
    </header>
</div>
<body class="haik-image">

<div class="ride-container">
    <h2>Mine Ha!ks</h2>

    <div>
        <div th:if="${not #lists.isEmpty(myrides)}">
            <table class="table table-striped">
                <tr>
                    <th>Sjåfør</th>
                    <th>Dato</th>
                    <th>Klokken</th>
                    <th>Fra</th>
                    <th>Til</th>
                    <th>Kommentar</th>

                </tr>
                <tr th:each="ride : ${myrides}">
                    <td th:text="${ride.getDriver().firstName}"></td>
                    <td th:text="${ride.getStartDate()}"></td>
                    <td th:text="${ride.getStarttime()}"></td>
                    <td th:text="${ride.getStartlocation()}"></td>
                    <td th:text="${ride.getDestination()}"></td>
                    <td th:text="${ride.getComments()}"></td>

                </tr>
            </table>
        </div>
        <div class="form-inline-buttons">
            <a href="/rides" class="smallbtn">Alle turer</a>
            <a href="/choosestatus" class="smallbtn">Meny</a>
            <a href="/" class="smallbtn">Profil</a>
        </div>
    </div>
</div>

</body>
</html>