<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>MyRides || Haik</title>
</head>
<body>

<div class="container">
    <h2>Mine turer || Haik</h2>

    
    <div th:if="${not #lists.isEmpty(myrides)}">
        <table class="table table-striped">
            <tr>
<!--                <th>Opprettet av bruker</th>-->
                <th>Dato</th>
                <th>Klokken</th>
                <th>Fra</th>
                <th>Til</th>
                <th>Plasser</th>
 <!--                <th>Beskrivelse</th>-->
            </tr>
            <tr th:each="ride : ${myrides}">
<!--                <td th:text="${ride.getCreatedbyid()}"></td>-->
                <td th:text="${ride.getStartDate()}"></td>
                <td th:text="${ride.getStarttime()}"></td>
                <td th:text="${ride.getStartlocation()}"></td>
                <td th:text="${ride.getDestination()}"></td>
                <td th:text="${ride.getSeatsavailable()}"></td>
  <!--                <td th:text="${ride.getComments()}"></td>-->

            </tr>
        </table>
    </div>
    <a href="/rides" class="smallbtn">Alle turer</a>
    <a href="/choosestatus" class="smallbtn">Meny</a>
    <a href="/"  class="smallbtn">Profil</a>
</div>


</body>
</html>