<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My rides</title>
</head>
<body>

<div class="container">
    <h2>Mine turer </h2>

    <span th:if="${#lists.isEmpty(myrides)}">
        <h3>Du har ingen registrte turer </h3>
    </span>

    <div th:unless="${not #lists.isEmpty(myrides)}">
        <table class="table table-striped">
            <tr>
                <th>Opprettet av bruker</th>
                <th>Dato</th>
                <th>Avreisetid</th>
                <th>Ledige seter</th>
                <th>Møteplass</th>
                <th>Destinasjon</th>
                <th>Beskrivelse</th>
            </tr>
            <tr th:each="ride : ${myrides}">
                <td th:text="${ride.getCreatedbyid()}"></td>
                <td th:text="${ride.getStartDate()}"></td>
                <td th:text="${ride.getStarttime()}"></td>
                <td th:text="${ride.getSeatsavailable()}"></td>
                <td th:text="${ride.getStartlocation()}"></td>
                <td th:text="${ride.getDestination()}"></td>
                <td th:text="${ride.getComments()}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>