<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css" />
    <title>Sign up! </title>
</head>
<body>

<h1> HAIK  </h1>

<div class="container">
<form id="sign_form" action="/rides" method="POST" th:object="${user}">
    <h2>Sign Up</h2>
    <div id="name_input">
       <div><label>Fornavn: <input id="first" type="text" name="firstname" th:field="*{}"/></label></div>
       <div><label>Etternavn: <input id="last" type="text" name="lastname" th:field="*{lastName}"/></label></div>
       <div> <label>Email:  <input type="email" id="email" name="email" th:field="*{email}"/></label></div>
        <div><label >Passord:  <input type="password" class="password" name="password" th:field="*{password}"/></label></div>
        <div><label>Gjenta Passord: <input type="password" class="password" name="password2"/></label></div>
    </div>

    <div>
        <input type="button" value="Submit" class="btn" th:href="'/rides'" >
    </div>
</form>
</div>

</body>
<footer>


</footer>
</html>