<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Rides</title>
</head>
<body>
<div class="container">
    <h2>Tilgjengelige turer</h2>

    <div th:if="${not #lists.isEmpty(rides)}">
        <table class="table table-striped">
            <tr>
                <th>Sjåfør</th>
                <th>Dato</th>
                <th>Avreisetid</th>
                <th>Møteplass</th>
                <th>Destinasjon</th>
                <th>Beskrivelse</th>
                <th>Ledige seter</th>
            </tr>
            <tr th:each="ride : ${rides}">
                <td th:text="${ride.getCreatedbyid()}"></td>
                <td th:text="${ride.getStartDate()}"></td>
                <td th:text="${ride.getStarttime()}"></td>
                <td th:text="${ride.getStartlocation()}"></td>
                <td th:text="${ride.getDestination()}"></td>
                <td th:text="${ride.getComments()}"></td>
                <td th:text="${ride.getSeatsavailable()}"></td>
                <td th:text="${}"></td>
            </tr>

        </table>
    </div>
    <a href="/myrides"  class="smallbtn">Mine turer</a>
    <a href="/choosestatus"  class="smallbtn">Meny</a>
    <a href="/"  class="smallbtn">Profil</a>

</div>

</body>
</html>