<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Success || Haik</title>
</head>
<body>
<h1>Very secret page!</h1>
<div>
    <p th:text="${'Logged in as: ' + #httpServletRequest.remoteUser}"></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>

    <div sec:authorize="hasRole('ROLE_USER')">
        <h2>This Wil be your Profile Eventiually!</h2>
        <a href="/">Or you can select to take a Haik!</a>
    </div>
</div>
</body>
</html>