<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Velkommen til Haik</h1>
        <p> Den beste måten å komme seg frem og tilbake.<br>
            Skal du ut og kjøre og har ledige seter?
            Vårt hyggelige nettverk gjør det enkelt å kjøre sammen.
            Bra for miljøet, bra for deg! <br>
        </p>
   <form>
       <p>Not a user yet?</p>
       <a href="signup.html" id="signUpButton"> Sign up!</a>
       <p>Do you already have an account?</p>
       <a href="login.html" id="signInButton"> Log in! </a>
   </form>
</body>
<footer>

</footer>
</html>